.infoDiv{
	position: absolute;
	height: 100px;
	width: auto;
	top:100px;
	left:100px;
	border-radius: 10px;
	border:1px solid red;
	background-color: #ccc;
}
.r{
	text-align: right;
	margin: 10px;
}
.infodate{
	margin: 10px;
}